<?xml version="1.0"?>
<model>
  <name>evo_tactical</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Thom</name>
    <email>thom@mindef.nl</email>
  </author>
  <description>Evo Tactical Drone met realistische fysica en sensoren voor PX4 SITL.</description>
</model>
